.Car-info {
  margin-left: 15px;
}
.Car-info > .Price {
  display: flex;
  justify-content: center;
}
.container {
}

.Price {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#uncrossed-price {
  margin-left: 10px;
  font-weight: bolder;
}
.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  font-weight: 500;
  font-family: system-ui;
  padding: 10px;
  text-transform: uppercase;
}
#Crossed-price {
  text-decoration: line-through;
}
#Offer-price {
  font-weight: 700;
}
.rating-box {
  background-color: forestgreen;

  color: white;
  font-size: 22px;
  text-align: center;
  width: 100px;
}
.rating-box-p {
  margin: 0;
  margin: 5px 0px 5px 0px;
}
